body {
  background-color: #b19cd9;
  color: #303030;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 20px;
}

main {
  background-color: #BEE3DB;
  margin: 20px auto;
  max-width: 580px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px #BEE3DB;
  color: black;
}

ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background-color: #3C6E71;
  border-radius: 6px;
  color: white;
}
form {
  background-color: #b19cd9;
  border-radius: 6px;
  margin: 0;
  padding: 10px;
}

button {
  background-color: #061A40;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
}


input {
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
}

#initials {
  width: 100px;

}

#message {
  width: 315px;
}
